<h1>Completed Tasks</h1>
<dl>
  <% @tasks.each do |task| %>
    <dt>
      <form action="/tasks/delete/<%= task.id %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <input name="task[done]" type="hidden" value="true">
        <button class = "btn btn-success">-</button>
      <%= task.name %>
      </form>
    </dt>
  <% end %>
</dl>

<a href="/tasks">Back to incomplete tasks</a>
