<div class='container'>
  <h1>Add a task</h1>

  <form class="form-inline" action="/tasks" method="post">
    <label for="task_name">Task Name</label>
    <input class="form-control" id="task_name" name="name" type="text">
    <button class='btn btn-success'>Add Task</button>
  </form>
</div>
